@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:wght@400;500&display=swap');


.banner
{
    position: absolute;
    top: 15.5vh;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.banner .title
{
    display: flex;
    align-items: center;
    gap: 2vw;
    font-size: 2vh;
    margin: -2.5vh auto 10vh auto;
    z-index: 2;
}

.banner h1
{
    letter-spacing: .3vw;
}

.banner .title img
{
    width: 5vw;
    height: 9vh;
    margin-left: -2.2vw;
}

.banner p
{
    margin: 0 auto;
    text-align: center;
    font-size: 2.5vh;
    width: 60vw;
    z-index: 2;
}

.banner img.bannerBackground
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

main
{
    display: flex;
    flex-direction: column;
    margin-top: -42vh;
    justify-content: center;
    letter-spacing: 1.3px;
    align-items: center;
    width: 100%;
    font-weight: 500;
}

.container
{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 15.5vw;
    align-items: center;
    justify-content: center;
    padding: 2.2vh;
    border-radius: .6vw;
    font-size: 2.5vh;
    z-index: 100;
    margin-top: -7.4vh;
    margin-left: -2vh;
}

.container .backgroundImageContainer
{
    position: absolute;
    width: 18vw;
    margin-top: -.5vh;
    margin-left: -.1vw;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.container .categoryTitle 
{
    color: #636560;
}

.container p.categoryTitle img
{
    margin-left: -1vw;
    width: 1.9vw;
}

.container p.categoryTitle span.title
{
    color: #636560;
    font-size: 2.3vh;
}

.container .openOptions
{
    transform: scaleY(-1);
    position: absolute;
    right: 0;
    width: .8vw;
    cursor: pointer;
    margin-right: 1.5vw;
    transition: all .2s ease-in-out;
}

.container .openOptions.invert
{
    transform: scaleY(1);
}

.container p
{
    display: flex;
    align-items: center;
}

.container .title
{
    margin-left: .8vw;
    font-size: 2.5vh;
}

.container .options
{
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -26.5vh;
    margin-right: -29vh;
    width: 15vw;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: center;
    gap: 1.2vh;
    height: 0vh;
    z-index: 1000;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.068);
    border-radius: 1.2vw;
}

.container .options.show
{
    display: flex;
    height: 33vh;
}

.container .options p 
{
    font-size: 2.3vh;
    padding: 1vh;
    cursor: pointer;
    gap: .7vw;
    border-radius: .8vw;
    cursor: pointer;
}

.container .options p span
{
    font-size: 2.3vh;
    color: #636560;
}

.container .options p img
{
    margin-left: .5vw;
} 

.container .options p:hover 
{
    background-color: #F4F4F4;
}

.container .options img
{
    width: 2vw;
}

.roadmapsContainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.3vw;
    row-gap: 4.8vh;
    width: 50%;
    margin-top: 12vh;
    margin-bottom: 13vh;
}

.roadmapsContainer p
{
    display: flex;
    align-items: center;
    text-align: left;
    width: 23vw;
    height: 10vh;
    padding: 2.3vh 2.7vh;
    font-size: 2.3vh;
    background-color: #FFF;
    border: .5px solid #5100ff23;
    color: #636560;
    box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.034);
    border-radius: .6vw;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.roadmapsContainer p:hover
{
    transform: translateY(-.5vh);
}