.banner
{
    position: absolute;
    top: 18vh;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.banner .title
{
    display: flex;
    align-items: center;
    gap: 2vw;
    font-size: 2vh;
    margin: -2.5vh auto 10vh auto;
    z-index: 2;
}

.banner h1
{
    letter-spacing: .3vw;
}

.banner .title img
{
    width: 3.4vw;
    height: 7vh;
    margin-left: -2.2vw;
}

.banner p
{
    margin: 0 auto;
    text-align: center;
    font-size: 2.5vh;
    width: 60vw;
    z-index: 2;
}

.banner img.bannerBackground
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.arrow
{
    position: absolute;
    left: 50%;
    margin-top: -48vh;
    transform: translate(-50%);
    cursor: grab;
    width: 9.5vh;
    transition: all .2s ease-in-out;
}

.arrow.up
{
    margin-top: -49vh;
    left: 47.7%;
    transform: scaleY(-1); 
}

.arrow.up:hover
{
    margin-top: -49.5vh;
}

.arrow.down:hover
{
    margin-top: -47.5vh;
}

.searchBar
{
    position: relative;
    margin-top: -25vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.searchBar input
{
    width: 37vw;
    color: #C6C6C6;
    font-size: 2.5vh;
    border: none;
    border-radius: 5vh;
    padding: 3vh 8vw 3vh 3.5vw;
    box-shadow: 2px 4px 11px 3px rgba(0, 0, 0, 0.055);
    transition: all .5s ease-in-out;
}


.searchBar.principal input
{
    width: 50vw;
}

.searchBar input::placeholder
{
    color: #C6C6C6;
}

.searchBar input:focus
{
    outline: none;
}

.searchBar.principal .goButton
{
    margin-left: 22.5vw;
}

.goButton
{
    position: absolute;
    width: 5.5vw;
    top: 50%;
    left: 50%;
    margin-top: .2vh;
    margin-left: 16vw;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: all .4s ease-in-out;
}

.goButton:hover
{
    width: 5.7vw;
    transition: all .2s ease-in;
}

#tagsTitle
{
    position: relative;
    font-size: 4.2vh;
    margin-top: 13.8vh;
    margin-bottom: 2.5vh;
    color: #484945;
    text-align: center;
}

.tags
{
    display: flex;
    width: 50%;
    margin-left: 24.5vw;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-bottom: 12vh;
}

.tag
{
    color: #636560;
    text-align: center;
    padding: 1vw;
    font-size: 2.5vh;
    width: 12vw;
    border-radius: 1vw;
    border: .5vh solid #bdbdbd;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.tag.checked
{
    transform: translateY(-.5vh);
}

.tag.checked,
.tag:hover
{
    border-color: #7FEF75;
}

.clear
{
    position: absolute;
    margin-left: 24vw;
    width: 1.6vw;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.searchBar.principal .clear
{
    margin-left: 37vw;
}

.clear:hover
{
    transform: rotate(90deg);
}