<%- include('../layouts/header', 
    {
        title: 'CO.GUI - Página Inicial', 
        styleLinks: ['/stylesheets/paginaInicial/main.css'],
        scriptsLinks: ['/scripts/paginaInicial/index.js']
    }) 
%>

<main>
    <section class="logo">
        <img src="/assets/logoTelaInicial.svg" alt="logo">
    </section>
    <section class="container">
        <div class="box searchBox">
            <img src="/assets/gradientBlock1.svg" class="gradientBlock">
            <img src="/assets/search.png" alt="search icon">
            <h1>PESQUISA</h1>
            <p>Encontre roadmaps personalizados</p>
        </div>

        <div class="box categoryBox">
            <img src="/assets/gradientBlock2.svg" class="gradientBlock">
            <img src="/assets/category.png" alt="category icon">
            <h1>CATEGORIAS</h1>
            <p>Explorar roadmaps prontos e estruturados</p>
        </div>

        <div class="box addBox">
            <img src="/assets/gradientBlock3.svg" class="gradientBlock">
            <img src="/assets/add.png" alt="add icon">
            <h1>PASTAS</h1>
            <p>Crie ou adicione seus roadmaps em arquivos</p>
        </div>
    </section>
</main>

</body>
</html>