<%- include('../layouts/header', 
    {
        title: 'CO.GUI - Roadmap', 
        styleLinks: ['/stylesheets/roadmap/main.css'],
        scriptsLinks: ['/scripts/otherRoadmap/index.js']
    }) 
%>

  <div class="lateralMenu">
    <img src="/assets/closeLateralMenu.svg" class="closeLateralMenuBtn">

    <div class="functionalities">
      <div class="state">
        <img src="/assets/circleNotStarted.svg">
        <span>Pendente</span>
      </div>
      <div class="situation">
        <p>Progresso</p>
        <div class="options">
          <p class="option"><img src="/assets/circlePink.svg"> Inicio</p>
          <p class="option"><img src="/assets/circleOrange.svg"> Andamento</p>
          <p class="option"><img src="/assets/circleGreen.svg"> Finalizado</p>
          <p class="option"><img src="/assets/circleNotStarted.svg"> Pendente</p>
        </div>
      </div>
      <img src="/assets/arrowCategoryContainer.svg" class="openOptions">
    </div>

    <div class="themeTitle"><span></span> <img src="/assets/unFavoriteContent.svg" class="favorite"></div>
    <div class="overflowAuto">
      <p class="themeText"></p>
    </div>

    <div class="goAndBack">
      <div class="back">
        <img src="/assets/nextArrow.svg" class="back">
        <p class="back">Voltar para o anterior</p>
      </div>
      <div class="go">
        <p class="go">Avançar</p>
        <img src="/assets/nextArrow.svg" class="go">
      </div>
    </div>
  </div>

  <div class="overlay"></div>

  <main>

    <div class="path">
      <ul>
        <li>
          Educação 
          <img src="/assets/arrowPath.svg">
        </li>
        <li>
          Educação Financeira
          <img src="/assets/flagPath.svg" class="flag">
        </li>
      </ul>
    </div>

    <div class="progress">
      <div class="myProgress">
        <h1>
          <span>Meu</span> 
          Progresso
        </h1>
        <ul class="notStarted">
          <li>
            <span><img src="/assets/circleNotStarted.svg">Iniciado</span>
            <span class="percentage">0</span>
          </li>
          <li>
            <span><img src="/assets/circleNotStarted.svg">Em andamento</span>
            <span class="percentage">0</span>
          </li>
          <li>
            <span><img src="/assets/circleNotStarted.svg">Finalizado</span>
            <span class="percentage">0</span>
          </li>
          <li>
            <span>Total</span>
            <span style="margin-right: 0" class="totalContents">20</span>
          </li>
        </ul>
      </div>
      <div class="gadgets">
        <ul>
          <li class="favoriteButton">
            <img src="/assets/unFavoriteContent.svg" class="favoriteIcon">
            Conteúdos Favoritos
            <div class="favoritesContainer">
              <div class="optionsFavorite">
                <p class="favoriteQtd">Total: 0</p>
                <ul></ul>
              </div>
            </div>
          </li>
          <li><img src="/assets/importantStep.svg">Passo importante</li>
          <li><img src="/assets/opcionalStep.svg">Passo opcional</li>
        </ul>
      </div>
      <div class="download">
        <ul>
          <li>
            <img src="/assets/shareIcon.svg"> 
            <p>Compartilhar</p>
          </li>
          <li>
            <img src="/assets/downloadIcon.svg"> 
            <p>Download</p>
          </li>
        </ul>
        
      </div>
    </div>

    <div class="container">
      <div class="title">
        <img src="/assets/titleRoadmapCircle.svg">
        <h1>Educação Financeira</h1>
      </div>
    
      <div class="gallery-wrapper">
          <img src="assets/stepFour.svg" class="item stepFour" alt="stepFour">
          <img src="assets/stepTwo.svg" class="item stepTwo" alt="stepTwo">
          <img src="assets/stepOne.svg" class="item current-item stepOne" alt="stepOne">
          <img src="assets/stepThree.svg" class="item stepThree" alt="stepThree">
          <img src="assets/stepFive.svg" class="item stepFive" alt="stepFive">
          <img src="assets/arrowRoadmap.svg" alt="arrowRoadmap">
      </div>
    </div>

    <div class="descriptionRoadmap">
      <h1>Compreensão dos Conceitos Básicos</h1>
      <p>Preceitos básicos a seguir:</p>
    </div>

    <span class="line" style="height: 10.2vh;">

    </span>

    <section class="principalTitle">
      <h1>Trilhando a Educação Financeira: Conceitos, Orçamento e Dívidas</h1>
    </section>

    <span class="line" style="padding-bottom: 160vh;"></span>

    <div class="contentContainer">
      <img src="/assets/importantStep.svg" style="margin-top: -3vh;" alt="importantStep">
      <div class="information"  aria-label="Desenvolver habilidades em educação financeira começa com a compreensão de conceitos básicos. Isso inclui noções de renda, despesas, orçamento, poupança e investimento. Entender o valor do dinheiro é essencial.">
        <p class="titleInformation" style="margin-top: -2vh;">
          Conceitos Fundamentais
        </p>

        <p class="descriptionInformation" style="font-size: 3vh;">
          <img src="/assets/informationContentCircle.svg">
          <span class="spanDescription">Desvendando os Pilares da Literacia Financeira</span>
        </p>
      </div>
      <span class="line horizontal" style="margin-left: -10.8vw; margin-top: 3vh;"></span>
    </div>

    <div class="contentContainer inverted" style="margin-top: -1.2vh; font-size: 2.9vh;">
      <div class="information" aria-label="Aprender a criar e manter um orçamento pessoal é fundamental. Isso envolve uma categorização de despesas, o estabelecimento de metas financeiras e a alocação de recursos de forma eficiente.">
        <p class="titleInformation" style="margin-top: -2vh;">
          Orçamento Pessoal
        </p>

        <p class="descriptionInformation" style="font-size: 3vh;">
          <img src="/assets/informationContentCircle.svg">
          <span class="spanDescription">Da Criação à Manutenção</span>
        </p>
      </div>
      <span class="line horizontal" style="margin-left: 11.3vw; margin-top: 3vh;"></span>
    </div>

    <div class="contentContainer" style="margin-top: -1vh;">
      <div class="information" aria-label="Compreender o impacto das dívidas é crucial. Aprenda sobre diferentes tipos de dívidas, como cartões de crédito e empréstimos, e desenvolva estratégias para gerenciá-las eficazmente.">
        <p class="titleInformation" style="margin-top: -2vh;">
          Conhecimento sobre Dívidas
        </p>

        <p class="descriptionInformation">
          <img src="/assets/informationContentCircle.svg">
          <span class="spanDescription">Compreensão, Classificação e Estratégias de Gerenciamento</span>
        </p>
      </div>
      <span class="line horizontal" style="margin-left: -10.8vw; margin-top: 3vh;"></span>
    </div>

    <div class="conclude">
      <img src="/assets/concludedFalse.png" class="concludeFalse">
    </div>

  </main>
</body>
</html>