<%- include('../layouts/header', 
    {
        title: 'CO.GUI - Roadmap', 
        styleLinks: ['/stylesheets/roadmap/main.css'],
        scriptsLinks: ['/scripts/roadmap/index.js']
    }) 
%>

  <div class="lateralMenu">
    <img src="/assets/closeLateralMenu.svg" class="closeLateralMenuBtn">

    <div class="functionalities">
      <div class="state">
        <img src="/assets/circleNotStarted.svg">
        <span>Pendente</span>
      </div>
      <div class="situation">
        <p>Progresso</p>
        <div class="options">
          <p class="option"><img src="/assets/circlePink.svg"> Inicio</p>
          <p class="option"><img src="/assets/circleOrange.svg"> Andamento</p>
          <p class="option"><img src="/assets/circleGreen.svg"> Finalizado</p>
          <p class="option"><img src="/assets/circleNotStarted.svg"> Pendente</p>
        </div>
      </div>
      <img src="/assets/arrowCategoryContainer.svg" class="openOptions">
    </div>

    <div class="themeTitle"><span></span> <img src="/assets/unFavoriteContent.svg" class="favorite"></div>
    <div class="overflowAuto">
      <p class="themeText"></p>
    </div>

    <div class="goAndBack">
      <div class="back">
        <img src="/assets/nextArrow.svg" class="back">
        <p class="back">Voltar para o anterior</p>
      </div>
      <div class="go">
        <p class="go">Avançar</p>
        <img src="/assets/nextArrow.svg" class="go">
      </div>
    </div>
  </div>

  <div class="overlay"></div>

  <main>

    <div class="path">
      <ul>
        <li>
          Tecnologia 
          <img src="/assets/arrowPath.svg">
        </li>
        <li>
          Front-end
          <img src="/assets/flagPath.svg" class="flag">
        </li>
      </ul>
    </div>

    <div class="progress">
      <div class="myProgress">
        <h1>
          <span>Meu</span> 
          Progresso
        </h1>
        <ul class="notStarted">
          <li>
            <span><img src="/assets/circleNotStarted.svg">Iniciado</span>
            <span class="percentage">0</span>
          </li>
          <li>
            <span><img src="/assets/circleNotStarted.svg">Em andamento</span>
            <span class="percentage">0</span>
          </li>
          <li>
            <span><img src="/assets/circleNotStarted.svg">Finalizado</span>
            <span class="percentage">0</span>
          </li>
          <li>
            <span>Total</span>
            <span style="margin-right: 0" class="totalContents">20</span>
          </li>
        </ul>
      </div>
      <div class="gadgets">
        <ul>
          <li class="favoriteButton">
            <img src="/assets/unFavoriteContent.svg" class="favoriteIcon">
            Conteúdos Favoritos
            <div class="favoritesContainer">
              <div class="optionsFavorite">
                <p class="favoriteQtd">Total: 0</p>
                <ul></ul>
              </div>
            </div>
          </li>
          <li><img src="/assets/importantStep.svg">Passo importante</li>
          <li><img src="/assets/opcionalStep.svg">Passo opcional</li>
        </ul>
      </div>
      <div class="download">
        <ul>
          <li>
            <img src="/assets/shareIcon.svg"> 
            <p>Compartilhar</p>
          </li>
          <li>
            <img src="/assets/downloadIcon.svg"> 
            <p>Download</p>
          </li>
        </ul>
        
      </div>
    </div>

    <div class="container">
      <div class="title">
        <img src="/assets/titleRoadmapCircle.svg">
        <h1>Front-end</h1>
      </div>
    
      <div class="gallery-wrapper">
          <img src="assets/stepFour.svg" class="item stepFour" alt="stepFour">
          <img src="assets/stepTwo.svg" class="item stepTwo" alt="stepTwo">
          <img src="assets/stepOne.svg" class="item current-item stepOne" alt="stepOne">
          <img src="assets/stepThree.svg" class="item stepThree" alt="stepThree">
          <img src="assets/stepFive.svg" class="item stepFive" alt="stepFive">
          <img src="assets/arrowRoadmap.svg" alt="arrowRoadmap">
      </div>
    </div>

    <div class="descriptionRoadmap">
      <h1>Fundamentos</h1>
      <p>Preceitos básicos a seguir:</p>
    </div>

    <span class="line" style="height: 10.2vh;">

    </span>

    <section class="principalTitle">
      <h1>Linguagens de Marcação, Programação e Estilo</h1>
    </section>

    <span class="line" style="padding-bottom: 130vh;"></span>

    <div class="contentContainer">
      <img src="/assets/importantStep.svg" alt="importantStep">
      <div class="information"  aria-label="Entender a semântica HTML significa utilizar as tags mencionadas para representar corretamente o conteúdo. Por exemplo, use <header>para cabeçalhos, <nav>para menus de navegação e <footer>para rodapés. Isso não só melhora a acessibilidade, mas também facilita a interpretação dos motores de busca.">
        <p class="titleInformation" style="margin-top: -1vh;">
          HTML
        </p>

        <p class="descriptionInformation" style="font-size: 3vh;">
          <img src="/assets/informationContentCircle.svg">
          <span class="spanDescription">Semântica HTML</span>
        </p>
      </div>
      <span class="line horizontal" style="margin-left: -10.8vw; margin-top: 3vh;"></span>
    </div>

    <div class="contentContainer inverted" style="margin-top: -1.2vh; font-size: 2.9vh;">
      <div class="information" aria-label="Flexbox e Grid são técnicas avançadas de layout em CSS. Flexbox é usado para organizar elementos em uma única dimensão (linha ou coluna), enquanto Grid permite um layout bidimensional. Compreender essas ferramentas facilita a criação de designs responsivos e flexíveis.">
        <p class="titleInformation" style="margin-top: -.5vh;">
          CSS
        </p>

        <p class="descriptionInformation" style="font-size: 3vh;">
          <img src="/assets/informationContentCircle.svg">
          <span class="spanDescription">Flexbox e Grid</span>
        </p>
      </div>
      <span class="line horizontal" style="margin-left: 11.3vw; margin-top: 3vh;"></span>
    </div>

    <div class="contentContainer" style="margin-top: -1vh;">
      <div class="information" aria-label="O DOM (Modelo de Objeto de Documento) representa a estrutura de uma página web. JavaScript é usado para manipular dinamicamente o DOM, respondendo a eventos do usuário, como cliques e movimentos do mouse. Isso é essencial para criar interatividade em aplicações web.">
        <p class="titleInformation" style="margin-top: -1vh;">
          JAVASCRIPT
        </p>

        <p class="descriptionInformation">
          <img src="/assets/informationContentCircle.svg">
          <span class="spanDescription">Manipulação do DOM com JavaScript</span>
        </p>
      </div>
      <span class="line horizontal" style="margin-left: -10.8vw; margin-top: 3vh;"></span>
    </div>

    <div class="conclude">
      <img src="/assets/concludedFalse.png" class="concludeFalse">
    </div>

  </main>
</body>
</html>