<%- include('../layouts/header', 
    {
        title: 'CO.GUI - Pesquisar', 
        styleLinks: ['/stylesheets/search/main.css'],
        scriptsLinks: ['/scripts/search/index.js']
    }) 
%>

    <div class="banner">
        <img src="/assets/bannerSearchPage.svg" class="bannerBackground" alt="bannerSearchPage">
        <div class="title">
            <img src="/assets/lens.png">
            <h1>PESQUISA</h1>
        </div>
        <p>Seja específico em sua jornada de aprendizado e encontre roadmaps personalizados inserindo palavras-chave, disciplinas ou ferramentas na barra de pesquisa.</p>
    </div>
    <img src="/assets/arrowDownSearch.svg" class="arrow down">
    <main>
        <section class="searchBar">
            <input type="text" placeholder="Procurar ...">
            <img src="/assets/close.svg" class="close">
            <img src="/assets/searchGoIcon.svg" class="goButton">
        </section>
        <h1 id="tagsTitle">Limite sua pesquisa</h1>
        <section class="tags">
            <div class="tag"># Educação</div>
            <div class="tag"># Tecnologia</div>
            <div class="tag"># Artes</div>
            <div class="tag"># Educação</div>
            <div class="tag"># Tecnologia</div>
            <div class="tag"># Artes</div>
        </section>
    </main>
</body>
</html>