<%- include('../layouts/header', 
    {
        title: 'CO.GUI - Pesquisar', 
        styleLinks: ['/stylesheets/search/main.css'],
        scriptsLinks: ['/scripts/search/index.js']
    }) 
%>

    <div class="banner">
        <img src="/assets/bannerSearchPage.svg" class="bannerBackground" alt="bannerSearchPage">
        <div class="title">
            <img src="/assets/lens.png">
            <h1>PESQUISA</h1>
        </div>
        <p>Seja específico em sua jornada de aprendizado e encontre roadmaps personalizados inserindo palavras-chave, disciplinas ou ferramentas na barra de pesquisa.</p>
    </div>
    <main>

    </main>
</body>
</html>